.flex-container {
    display: flex;
    flex-direction: row;
}

/* Top Nav bar  */
nav a {
    text-decoration: none;
    color: black;
}
nav {
    background-color: azure;
    height: auto;
    margin: 20px;
}