.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/* Top Nav bar  */
nav a {
    text-decoration: none;
    color: black;
    font-weight: 700;
}
.navbar {
    height: auto;
    margin: 20px;
}

/* Banner section */
.banner {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 30px;
    height: 550px;
    width: absolute;
    background-repeat: no-repeat;
    background-position-x: center;
    background-color: khaki;
}
.divbanner {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 1100px;
    height: 550px;
    margin-bottom: 200px;
    background-color: pink;
    z-index: 1; 
}
 /* #carouselExampleIndicators {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background-color: pink; 
} 
#carouselExampleIndicators  {
    width: 100%;
    height: calc(100vh - 56px - 100px);
    object-fit: cover; 
}  */

#second-navbar {
    background-color: #dde;
    display: flex;  /* unlocks "flex" property for its children (<a> tags) */
  }
  #second-navbar a {
    height: 50px;
    flex: 1;  /* all of these <a> elements will "grow" an equal amount (so they all have an equal width) */
    display: flex;  /* allows use of "justify-content" and "align-items" properties */
    justify-content: center;  /* horizontally centers the contents (the text within) */
    align-items: center; /* vertically centers the contents (the text within) */
  }
  #second-navbar a:hover {
    background-color: rgba(0, 0, 0, 0.1);  /* change color when hover over the link */
  }